.PropertiesFeature{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}
.PropertiesitemFeat{
    overflow: hidden;
    border: 1px solid #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.PropertiesfeatuImg{
    padding-bottom: 5px;
    width: 100%;
    height: 140px;
}
.PFfname{
    font-weight: 500;
}
.PFfcity{
    font-weight: 100; 
}
.PFfPRICE{
    font-weight: bold;
}
.PFratingbutn button{
 border: none;
 background-color: rgb(221, 163, 54);
 margin-right: 10px;
 font-weight: bold;
  color: #fff;
}