.navbar{
    height: 50px;
    background-color: rgb(27, 27, 214);
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    color:rgb(27, 27, 214) ;
    cursor: pointer;
    border-radius: 5px;
}