.Listcontainer{
    display: flex;
    justify-content: center;   
    margin-top: 20px;
    
    
}
.listwrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    
    
}
.listsearch{
    flex: 1;
  background-color: rgba(240, 205, 9, 0.884);
  padding: 10px;
  border-radius: 10px;
  position: sticky;

}
.listsearchtitle{
   color: aliceblue;
   margin-bottom: 10px;
   
}
.listresult{
  
    flex: 3;
    background-color: antiquewhite;
   
}
.listsearch label{
    font-size: 13px;
}
.lsitem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.lsitem input {
 padding: 5px ;
 border: none;
 height: 25px;
 cursor: pointer;
}
.lsitem span {
   background-color: aliceblue;
   padding: 5px ;
   height: 25px;
   cursor: pointer;
   }
.listemdate {
font-size: 13px;
}

.listOptionitem{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 0px  ;
    
}
.listOptionitem {
    font-size: 13px;
}
.listOptionitem input {
    padding: 5px ;
    border: none;
    height: 25px;
    cursor: pointer;
    width: 70px;
}
.listtem .options{
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.Listsearchbtn{
    margin-top: 5px;
    border: none;
    background-color: rgb(60, 92, 235);
    color: antiquewhite;
    cursor: pointer;
    width: 90%;
    padding: 5px;
}