.Hotelcointainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
   align-items: center;
}
.Hotelwapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    align-content: center;
}
.Hoteldescribtion{
    position: relative;
}
.HotelheaderBTN{
    position: absolute;
   right: 0px;
   margin-top: 10px;
}
.Sliderimageshow{
    position: sticky;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    z-index: 999;
   
}
.slidderImagewrapper{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
   align-items: center;
 

}
.HotelsiderImg{
    width: 80%;
    height: 80%;
}
.closeIcon{
    position: absolute;
   color: rgb(19, 20, 20); 
   font-size: 25px;
   top: 20px;
    right: 200px;
    cursor: pointer;

}
.leftarrow{
color: rgb(29, 30, 31);
font-size: 23px;
margin-left: 20px;
cursor: pointer;
}
.rightarrow{
   color: rgb(15, 15, 15);
   font-size: 23px;
   cursor: pointer;
   
}


.Hotelheader{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.hotelides{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700;
}

.Hotelexcellent{
    color: rgb(91, 118, 240);
    font-weight: 500;

}
.Hotelporperty{
    color: rgb(91, 118, 240);
    font-size: 13px;
    font-weight: 500;  
}
.Hotelphotodes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.HotelphotodesImg{
    width: 250px;
    height: 250px;
}
.Hotelsubcriber{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 0px;
}
.Hotelsubcriberdes11{
    flex: 2;
}
.Hotelsubcriberdes22{
    background-color: aquamarine;
    padding: 3px 4px;
   position: relative; 
  flex: 1;  
}
.Hotelsubcribertittle{
    font-size: 15px;
    font-weight: 700;
}
.Hotelsubcriberdestitle{
    color: black;
    font-size: 14px;
}
.Hotelsubcriberdessubtille{
    font-size: 15px;
    color: black;
    font-weight: 700;
}
.Hotelsubcriberdessubprice
{
    font-size: 15px;
    color: black;
    font-weight: 800;
    padding-bottom: 20px;
}
.Hotelsubcriberdesbtn{
border: none;
cursor: pointer;
background-color: blue;
color: aliceblue;
padding: 8px;
width: 70%;
position: absolute;
margin-left: 50px;
margin-right: 50px;
bottom: 3px;
border-radius: 10px;
}
